.ulcap2 {
    margin-left: 10px;
    display: none;
    position: absolute;
    background-color: yellow;
}

.licap1:hover .ulcap2 {
    display: block;
    position: relative;
}
.licap1 {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: ble;
    position: relative;
}
