.blog__wrapper {
    padding: 120px 180px 0 180px;
}

.blog__cate {
    span {
        font-size: 18px;
    }
    .-level-1,
    .-level-2 {
        position: relative;
        overflow: hidden;
    }
    .-level-1::before,
    .-level-2::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: #000;
        transition: width 0.3s ease;
    }
    .-level-1:hover::before,
    .-level-2:hover::before {
        width: 100%;
    }
}

.blog__content {
    margin-top: 80px;
    .blog__happy {
        .-img {
            width: 100%;
            margin-bottom: 40px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .section__des {
            padding: 0;
        }
    }
    .blog__btn {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        button {
            color: #e57339;
            display: inline-flex;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 1.1px;
            line-height: 12.1px;
            padding: 17px 41px;
            text-align: center;
            background-color: #fff;
            border: 1px solid #e57339;
        }
    }
    .blog__begin {
        margin-top: 100px;

        .-video {
            width: 100%;
            height: auto;
            margin-bottom: 60px;
            iframe {
                max-width: 100%;
                object-fit: cover;
            }
        }
        .section__des {
            padding: 0;
        }
    }
}

.blog__intro {
    margin-top: 100px;
    border: 1px solid #e5dacf;
    padding: 100px 120px;
    text-align: center;
    h3 {
        color: #0d0d0d;
        font-family: 'Arimo';
        line-height: 36px;
        text-transform: uppercase;
    }
    h4 {
        color: #e67841;
        font-size: 15px;
        letter-spacing: 2px;
    }
}
.blog__ending {
    margin-top: 100px;

    .-img {
        width: 100%;
        height: 850px;
        margin-bottom: 40px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .section__des {
        padding: 0;
    }
}
.blog__banner {
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 100px 100px;
    background-color: #f7f7f0;
    background-image: url(/assets/images/blog/link.png);
    background-repeat: no-repeat;
    background-position: center center;
    h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 30px;
        margin: 0;
    }
}

.blog__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 40px;
    .blog__seach {
        position: relative;
        display: flex;
        align-items: flex-start;
        input {
            height: 60px;
            padding: 0 60px 0 20px;
            max-width: 100%;
            font-size: 14px;
            border: 1px solid var(--color-header-border);
            color: #34375e;
            &:focus-visible {
                outline: none;
            }
        }
        svg {
            position: absolute;
            font-size: 28px;
            top: 50%;
            // left: 50%;
            right: 10px;
            margin: auto 0;
            transform: translate(-50%, -50%);
        }
    }
    .blog-user {
        width: 100%;
        margin-top: 70px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.blog__posts {
    margin-top: 60px;
    .blog__posts-heading {
        font-size: 25px;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #e5dacf;
        padding-bottom: 10px;
    }

    .blog__post-item {
        margin-top: 40px;
        align-items: center;
        display: flex;
        flex-direction: column;
        .-img {
            width: 260px;
            height: 150px;
            align-items: center;
            display: flex;
            justify-content: center;
        }
        .-heading {
            margin-top: 20px;
            h3 {
                color: #0d0d0d;
                font-family: 'Bona Nova';
                font-size: 25px;
                letter-spacing: 0.63px;
                line-height: 34px;
                padding: 0px 20px;
                text-align: center;
                text-transform: uppercase;
            }
            h4 {
                color: #e57339;
                display: inline-flex;
                flex-wrap: wrap;
                font-family: 'Montserrat';
                font-size: 13px;
                font-weight: 200;
                letter-spacing: 3px;
                line-height: 15px;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}

.blog__category {
    margin-top: 60px;
    .blog__category-heading {
        font-size: 26px;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #e5dacf;
        padding-bottom: 10px;
        font-family: 'Bona Nova';
        font-size: 26px;
        letter-spacing: 0.63px;
        line-height: 38px;
    }
    .blog__category-list {
        ul {
            li:first-child {
                margin-top: 30px;
            }
            li {
                list-style: none;
                margin-top: 20px;
                color: #e57339;
                display: block;
                font-family: 'Montserrat';
                font-size: 13px;
                font-weight: 200;
                letter-spacing: 2.1px;
                line-height: 20px;
                text-align: center;
                text-transform: uppercase;
                cursor: pointer;
                &:hover {
                    opacity: 70%;
                }
            }
        }
    }
    .blog__category-img {
        width: 100%;
        margin-top: 50px;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

.blog__share {
    margin-top: 60px;
    .blog__share-heading {
        font-size: 26px;
        font-weight: 400;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #e5dacf;
        padding-bottom: 10px;
    }
}

.blog__tags {
    margin-top: 60px;

    .blog__tags-heading {
        font-size: 26px;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #e5dacf;
        padding-bottom: 10px;
    }
    ul {
        li:nth-child(1) {
            margin-top: 30px;
        }
        li {
            list-style: none;
            a {
                font-size: 15px;
                line-height: 36px;
            }
        }
    }
}

.blog__instagram {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    .blog__instagram-heading {
        font-size: 26px;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #e5dacf;
        padding-bottom: 10px;
    }
    .blog__instagram-item {
        margin-top: 10px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .-img {
            margin-top: 20px;
            width: 100px;
            height: 100px;
            img {
                width: 110px;
                height: 110px;
                object-fit: cover;
            }
        }
    }
}

.blog__archive {
    margin-top: 60px;
    width: 100%;
    .blog__archive-heading {
        font-size: 26px;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #e5dacf;
        padding-bottom: 10px;
    }
    ul {
        margin-top: 20px;
        li {
            list-style: none;
            a {
                font-size: 15px;
            }
        }
    }
}

.blog__slider {
    width: 100%;
    margin: 40px 0;
    padding: 70px 20px 0;
    border-top: 1px solid #e5dacf;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .blog__wrapper {
        margin-top: 120px;
        padding: 0 60px;
    }
    .blog__content {
        margin-top: 70px;
    }

    .blog__right {
        .blog__seach {
            position: relative;

            input {
                width: 660px;
                height: 60px;
                padding: 0 30px;
                font-size: 15px;
                border: 1px solid var(--color-header-border);
                &:focus-visible {
                    outline: none;
                }
            }
            svg {
                position: absolute;
                font-size: 28px;
                top: 50%;
                // left: 50%;
                right: 10px;
                margin: auto 0;
                transform: translate(-50%, -50%);
            }
        }
    }
    .blog-user {
        width: 400px;
        height: 400px;
        img {
        }
    }
    .blog__posts,
    .blog__category,
    .blog__share,
    .blog__tags {
        margin-top: 30px;
        width: 100%;
    }
    .blog__category .blog__category-img {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 400px;
            height: 400px;
            height: auto;
            object-fit: cover;
        }
    }
    .blog__instagram-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .blog__instagram .blog__instagram-item .-img {
        margin-top: 20px;
        width: 100%;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 150px;
            height: 150px;
        }
    }
}

@media (max-width: 767px) {
    .blog__wrapper {
        margin-top: 120px;
        padding: 0 20px;
    }
    .blog__happy {
        img {
            height: 200px;
        }
    }
    .blog__intro {
        padding: 100px 20px;
    }
    .blog__ending .-img {
        width: 100%;
        height: 350px;
        margin-bottom: 40px;
    }
    .blog__banner {
        margin-bottom: 100px;
    }
    .blog__instagram-item {
        align-items: center;
    }
    .blog__instagram .blog__instagram-item .-img {
        margin-top: 20px;
        width: 100%;
        height: 120px;
    }
    .blog__instagram .blog__instagram-item .-img img {
        width: 100%;
        height: 120px;
        object-fit: cover;
    }
    .blog__archive {
        margin-top: 0px;
        padding-bottom: 30px;
    }
    .blog__slider {
        margin-bottom: 50px;
    }
}
