.header__faq {
    img {
        object-fit: cover;
    }
}

.faq__wrapper {
    margin-top: 90px;
}

.faq__content {
    .-img {
        width: 545px;
        height: 545px;
        img {
            width: 600px;
            height: 600px;
            object-fit: cover;
        }
    }
}

.faq__box {
    margin-bottom: 25px;
    .-title {
        border: 1px solid #e5dacf;
        padding: 7px 30px;
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
            margin-right: 10px;
            font-size: 26px;
            font-family: 'Bona Nova';
        }
        i {
            margin-left: auto;
            color: var(--tp-heading-primary);
        }
    }

    .-des {
        padding: 25px 30px;
        font-size: 18px;
        line-height: 28px;
        border: 1px solid #e5dacf;
        opacity: 0;
        animation: fade-in 0.5s forwards;
        font-family: 'Arimo';
    }
}

.faq__slider {
    margin: 40px 0;
    padding: 70px 20px 0;
    border-top: 1px solid #e5dacf;
}

@media (min-width: 1024px) {
}
@media (min-width: 740px) and (max-width: 1023px) {
    .faq__content .-img {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    .faq__box {
        margin-top: 40px;
    }
}

@media (max-width: 740px) {
    .faq__content {
        .-img {
            max-width: 100%;
            height: auto;
            margin-bottom: 50px;
            img {
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}
