.home__wrapper {
    margin-top: 90px;
    .story__area {
        img {
        }
    }
}

.story__image {
    width: 638px;
    height: 693px;
    img {
        object-fit: cover;
    }
}
.story__time-wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    div {
        gap: 20px;
    }
}

.story-week,
.story-day,
.story-hour,
.story-minute,
.story-second {
    min-width: 190px;
    min-height: 190px;
    border: 1px solid var(--color-main-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    gap: 10px;
    h4 {
        font-size: 80px;
        line-height: 80px;
        font-weight: 400;
        color: var(--tp-heading-primary);
    }
    span {
        line-height: 28px;
        font-size: 15px;
        color: var();
    }
}
.story-week::after,
.story-day::after,
.story-hour::after,
.story-minute::after,
.story-second::after {
    content: '';
    display: block;
    width: 1px;
    height: 35px;
    background-color: var(--color-main-border);
    margin-bottom: -55px;
}

//Gallery__area

.gallery__pr-image,
.gallery__image {
    position: relative;
    overflow: hidden;
    display: flex;
    max-width: 650px;
    max-height: 650px;
    img {
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
    }
    &:hover img {
        transform: translateX(3px);
        filter: brightness(80%);
    }
}

//scroll__area
.scroll-group {
    height: 60px;
    background-color: #64724d;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .scroll-text {
        height: 60px;
        white-space: nowrap;
        // overflow: hidden;
        animation: scroll-text 12s linear infinite;
        animation-fill-mode: forwards;
        margin-right: 40px;
        font-size: 13px;
        line-height: 60px;
        color: var(--color-white);
        letter-spacing: 4px;
        i {
            font-size: 8px;
            margin-right: 10px;
        }
    }
}

.scroll-text::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    animation: scroll-text 12s linear infinite;
}

//Time line
.timeline__process {
    .row {
        // margin: 0;
    }
}

.process__line-wrapper {
    padding: 20px 0;
    width: 100%;
    // background-color: green;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    .process__line {
        display: inline-block;
        height: 1px;
        width: 100%;
        background-color: var(--color-main-border);
    }
    i {
        position: absolute;
        color: #ea9062;
        font-size: 14px;
    }
}

.timeline__image {
    max-width: 100%;
    max-height: 250px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.box {
    width: 250px;
    height: 250px;
    border: 1px solid var(--color-main-border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.brides__grooms-image {
    max-width: 600px;
    max-height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
    position: relative;
    // overflow: hidden;
    img {
        transition: transform 0.4s ease-in-out;
    }
    &:hover img {
        transform: translateY(-5px);
    }
}

.brides__grooms-effect {
    position: absolute;
    top: 0;
    left: 6%;
    // display: none;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    width: 450px;
    height: 350px;
    img {
        object-fit: cover;
    }
}
.brides__grooms-image:hover .brides__grooms-effect {
    display: block;
    opacity: 1;
}
.introduce-wrapper {
    display: flex;
    .row {
        // margin: 0;
        .col-lg-2 {
            padding: 0;
        }
    }
}

.introduce__item {
    border: 1px solid var(--color-main-border);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
    height: 218px;
    margin-top: 15px;
}

.introduce-image {
    max-width: 400px;
    max-height: 400px;
    img {
        opacity: 0.6;
        object-fit: cover;
    }
    &:hover img {
        opacity: 1;
    }
}
.partners-section {
    .partners__product {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.section__image-button {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

@media (min-width: 1024px) {
}

@media (min-width: 740px) and (max-width: 1023px) {
    .story__time-wrapper {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        div {
            gap: 0px;
        }
    }
    .introduce-wrapper {
        display: flex;
        flex-wrap: wrap;

        .introduce__item {
            border: 1px solid var(--color-main-border);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 232px;
            height: 232px;
            margin-top: 0px;
        }
    }
    .story-week,
    .story-day,
    .story-hour,
    .story-minute,
    .story-second {
        width: 250px;
        height: 250px;
        margin: 10px 10px;
    }
    .story-week,
    .story-day,
    .story-hour,
    .story-minute,
    .story-second {
        padding: 0;
    }
    .story-week::after,
    .story-day::after,
    .story-hour::after,
    .story-minute::after,
    .story-second::after {
        content: '';
        display: block;
        width: 1px;
        height: 50px;
        background-color: var(--color-main-border);
        margin-bottom: -80px;
    }
    .section__image {
        padding-top: 30px;
    }
    .gallery__image {
        margin-bottom: 10px;
    }

    .timeline__image {
        margin-bottom: 10px;
    }

    .brides__grooms-image {
        max-width: 300px;
        max-height: auto;
        img {
            width: 300px;
            height: auto;
            object-fit: cover;
            transition: transform 0.4s ease-in-out;
        }
    }
    .story__image {
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        img {
            max-width: 100%;
            height: 700px;
            object-fit: cover;
        }
    }

    .gallery__image {
        max-width: 700px;
        max-height: 700px;
        margin-top: 25px;
        img {
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }
        &:hover img {
            transform: translateX(3px);
            filter: brightness(80%);
        }
    }
    .gallery__image:nth-child(4) {
        margin-bottom: 0;
        max-height: 700px;
    }
    .timeline__process {
        flex-wrap: wrap;
    }
}

@media (max-width: 740px) {
    .story__image {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        img {
            width: auto;
            height: 380px;
            object-fit: cover;
        }
    }
    .story__time-wrapper {
        margin-top: 100px;
    }
    .story-week,
    .story-day,
    .story-hour,
    .story-minute,
    .story-second {
        width: 350px;
        height: 350px;
        margin: 10px 10px;
    }
    .timeline__process-wire {
        display: none;
    }

    .gallery__image {
        position: relative;
        overflow: hidden;
        max-width: 400px;
        max-height: 500px;
        margin-bottom: 10px;
        img {
            width: 400px;
            height: auto;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }
    }
    .timeline__image {
        margin-bottom: 10px;
    }
    .box {
        width: 100%;
        height: 400px;
        margin: 10px 0px;
    }
    .product__card {
        margin-bottom: 30px;
    }
    .section__image-button {
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
    }
    .timeline__process {
        flex-wrap: wrap;
    }
    .introduce-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 80px 30px 0 30px;
        .introduce__item {
            border: 1px solid var(--color-main-border);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 300px;
            margin-top: 0px;
        }
    }
}
