.landing__intro {
    height: 900px;
    width: 100%;
    background-image: url(/assets/images/h5-parallax-02.jpg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    .row {
        width: 100%;
        margin: 0;
    }
    .landing__heading {
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        .-title {
            color: #ffffff;
            font-size: 72px;
            line-height: 70px;
            text-align: center;
            text-transform: uppercase;
        }
        .-sub-title {
            color: #ffffff;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 3px;
            line-height: 30px;
            text-align: center;
            text-transform: uppercase;
            margin-top: 15px;
        }
        .landing__button {
            margin-top: 30px;
            border: 1px solid #9ea297;
            padding: 14px 42px;
        }
    }
}
.landing__img-group {
    position: relative;
    display: flex;
    // justify-content: center;
    align-items: center;
    .-pre-img {
        width: 800px;
        height: 500px;
        border: 1px solid var(--color-white);
        border-radius: 10px;
        img {
            width: 800px;
            height: 500px;
            object-fit: cover;
        }
    }
    .-img {
        position: absolute;
        left: -40px;
        bottom: -20px;
        width: 200px;
        height: 400px;
        border: 1px solid var(--color-white);
        border-radius: 10px;
        img {
            width: 200px;
            height: 398px;
            object-fit: cover;
        }
    }
}

.landing__content {
    .section__title {
        margin-top: -40px;
    }
}

.landing__website {
    padding: 0 100px;
    .section__des {
        margin-bottom: 200px;
    }
}

.landing__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    .-img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        border: 1px solid #e5dacf;
        &:hover {
            transition: transform 0.3s ease-in-out;
            transform: translateY(-10px);
        }
        img {
            width: 500px;
            height: auto;
            border-radius: 10px;
        }
    }
    .-heading {
        margin-top: 20px;
        text-align: center;
        .-title {
            color: #0d0d0d;
            display: inline;
            font-family: 'Bona Nova';
            font-size: 27px;
            letter-spacing: 0.54px;
            line-height: 27px;
            text-align: center;
        }
        .-sub-title {
            color: #e57339;
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 2.1px;
            line-height: 30px;
            margin: 11px 0px 0px;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.mt-reduce-5 {
    margin-top: -50px;
}

.landing__image-intro {
    .section__sub-title-3 {
        font-size: 16px;
    }
}

.ceremony__group {
    margin-top: 50px;
    display: flex;
}

.ceremony-item {
    border: 1px solid #e5dacf;
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .-img {
        width: 200px;
        height: 200px;
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }
    }
    .-heading {
        .-title {
            color: #0d0d0d;
            font-family: 'Bona Nova';
            font-size: 27px;
            letter-spacing: 0.54px;
            line-height: 27px;
            margin: 35px 0px 0px;
            text-align: center;
            text-transform: uppercase;
        }
        .-sub-title {
            color: #e57339;
            font-family: 'Montserrat';
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 2.1px;
            line-height: 20px;
            margin: 11px 0px 0px;
            text-align: center;
            text-transform: uppercase;
        }
        .-des {
            color: #262626;
            font-family: 'Arimo';
            line-height: 28px;
            margin: 10px 0px;
            text-align: center;
            font-size: 18px;
        }
    }
}

.landing__inner {
    padding: 0 50px;
    .-intro {
        margin-bottom: 100px;
    }
}

.mt-increase-5 {
    margin-top: 50px;
}

.landing__organ {
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
    flex-direction: column;
    background-image: url(/assets/images/landing/landing-bckgr-02.jpg);
    margin-top: 80px;
    .-title {
        color: #ffffff;
        font-size: 72px;
        line-height: 70px;
        text-align: center;
        text-transform: uppercase;
    }
    .-sub-title {
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 3px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 15px;
    }
    .landing__button {
        margin-top: 30px;
        border: 1px solid #bfc3b8;
        padding: 14px 42px;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .landing__img-group {
        margin-top: 50px;
    }
    .landing__heading {
        .-title {
            font-size: 30px;
        }
    }
    .landing__intro .landing__heading .-title {
        color: #ffffff;
        font-size: 53px;
        line-height: 51px;
        margin-top: 0px;
    }
    // .landing__img-group .-pre-img {
    //     width: 501px;
    //     height: auto;
    //     border: 1px solid var(--color-white);
    //     border-radius: 10px;
    //     margin: auto;
    // }
    .landing__img-group {
        margin-top: 250px;
        position: relative;
    }

    .landing__img-group .-pre-img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 350px;
        align-items: center;
        display: flex;
        border-radius: 10px;
        img {
            width: 500px;
            height: 350px;
            object-fit: cover;
        }
    }
    .landing__img-group .-img {
        position: absolute;
        left: 50px;
        top: 0px;
        width: 145px;
        height: 200px;
        border: 1px solid var(--color-white);
        border-radius: 10px;
        display: flex;
        align-items: center;
        img {
            width: 140px;
            height: 190px;
            object-fit: cover;
        }
    }

    .landing__content {
        margin-top: 60px;
        .landing__website .section__des {
            margin-bottom: 70px;
        }
    }
    .landing__website {
        padding: 0 20px;
    }
    .landing__card .-img {
        width: 700px;
        height: auto;
        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
    .mt-reduce-5 {
        margin-top: 0;
    }
    .ceremony__group {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .landing__intro {
        .landing__heading {
            padding: 0 0;
            .-title {
                color: #ffffff;
                font-size: 38px;
                line-height: 48px;
            }
        }
    }

    .landing__img-group {
        margin-top: 100px;
    }
    .landing__img-group .-pre-img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 330px;
        height: 150px;
        align-items: center;
        display: flex;
        border-radius: 10px;
        img {
            width: 360px;
            height: 132px;
            object-fit: cover;
        }
    }
    .landing__img-group .-img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 145px;
        height: 200px;
        border: 1px solid var(--color-white);
        border-radius: 10px;
        display: flex;
        align-items: center;
        img {
            width: 140px;
            height: 190px;
            object-fit: cover;
        }
    }
    .landing__website .section__des {
        margin-bottom: 64px;
    }
    .landing__content .section__title {
        font-size: 45px;
        line-height: 45px;
    }
    .landing__website {
        padding: 0 20px;
    }
    .mt-reduce-5 {
        margin-top: 0;
    }
    .landing__image-intro {
        margin-bottom: 40px;
    }
    .ceremony__group {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
    }
    .ceremony-item {
        padding: 40px 50px;
    }
    .landing__inner {
        padding: 0 30px;
    }
    .landing__card {
        margin-bottom: 40px;
        .-heading {
            display: none;
        }
    }
    .mt-increase-5 {
        margin-top: 0;
    }
    .landing__organ .-title {
        font-size: 45px;
        line-height: 55px;
    }
    .landing__organ .-sub-title {
        font-size: 11px;
    }
    .landing__organ .landing__button {
        padding: 10px 24px;
    }
}
