.header__pricing {
    img {
        object-fit: cover;
    }
}
.pricing__wrapper {
    margin-top: 90px;
    .pricing__content {
        margin-top: 100px;
    }
    .pricing-item {
        margin-top: 50px;
        padding: 80px 80px;
        border: 1px solid var(--color-main-border);

        h4 {
            font-family: 'Bona Nova';
            font-size: 40px;
            letter-spacing: 0.68px;
            line-height: 40.9999px;
            text-transform: uppercase;
            color: #0d0d0d;
        }
        h5 {
            color: #262626;
            font-family: 'Arimo';
            line-height: 24px;
            margin: 1px 0px 9px;
        }
        div {
            display: flex;
            justify-content: center;

            span {
                color: #262626;
                font-size: 60px;
                letter-spacing: -1.5px;
                font-weight: 400;
                font-style: italic;
                margin-bottom: 30px;
                margin-top: 30px;
                font-weight: 300;
            }
            h3 {
                color: #262626;
                font-size: 100px;
                letter-spacing: -1.5px;
                line-height: 100px;
                font-style: italic;
                margin-bottom: 30px;
                margin-top: 30px;
                font-weight: 300;
            }
        }

        p {
            line-height: 35px;
            font-size: 15px;
        }
        .pricing-pur {
            color: #e57339;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.77px;
            margin-top: 10px;
            transition: transform 0.3s ease-in-out;
            cursor: pointer;
            &:hover {
                transform: translateX(15px);
            }
        }
        .-active {
            color: #e98a60;
        }
    }
    .pricing-bg {
        background-image: url(/assets/images/p6-icon-01.png);
        object-fit: cover;
        height: 600px;
    }
    .pricing__icon {
        margin-bottom: 50px;
        margin-top: 50px;

        .-img {
            width: 250px;
            height: 250px;
            opacity: 70%;
            display: flex;
            justify-content: center;
            &:hover {
                opacity: 100%;
            }
        }
    }
    .pricing__slider {
        border-top: 1px solid var(--color-main-border);
        padding: 100px 0;
        .pricing__img-wrapper {
            display: flex;
        }
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .header__pricing {
        .header__bottom {
            .-text {
                text-align: center;
                font-size: 50px;
            }
        }
    }
    .pricing-product {
        margin-top: 70px;
    }
    .pricing__wrapper .pricing-item {
        margin-top: 0px;
        padding: 150px 160px;
    }
}

@media (max-width: 740px) {
    .header__pricing {
        .header__bottom {
            .-text {
                text-align: center;
                font-size: 70px;
            }
        }
    }
    .pricing-product {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pricing__wrapper .pricing-item {
        max-width: 90%;
        margin-top: 0px;
    }
}
