.rsvp__wrapper {
    margin-top: 90px;
    margin-bottom: 90px;
    .rsvp__content {
        margin-top: 80px;
    }
    .rsvp__form {
        text-align: center;
        margin-top: 50px;
        background: url(/assets/images/p8-vector-img-01.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        input,
        textarea {
            padding: 15px 20px;
            margin-top: 10px;
            border: 1px solid var(--color-header-border);
            width: 100%;
            font-size: 14px;
            color: #dcccc0;
        }
        textarea {
            height: 140px;
        }
        input:focus,
        textarea:focus {
            outline: none;
            color: #000;
        }
        .-attend {
            display: flex;
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: 14px;

            .-attend-left,
            .-attend-right {
                display: flex;
                justify-content: space-between;
                div {
                    display: flex;
                    input {
                        width: 15px;
                        height: 15px;
                        margin: 0;
                        margin-right: 6px;
                    }
                }
            }
            .-attend-left {
                padding-left: 40px;
                padding-right: 40px;
            }
            .-attend-right {
                justify-content: center;
            }
        }
    }
    .rsvp__button {
        color: var(--tp-heading-primary);
        border: 1px solid var(--tp-heading-primary);
        animation: none;
        margin-top: 30px;
        font-size: 13px;
        &:hover {
            border: 1px solid var(--tp-heading-primary);
            opacity: 70%;
        }
    }
    .rsvp__slider {
        margin: 40px 0;
        padding-top: 70px;

        border-top: 1px solid var(--color-header-border);
    }
}

@media (min-width: 1024px) {
}
@media (min-width: 740px) and (max-width: 1023px) {
    .rsvp__wrapper .rsvp__content {
        margin-top: 100px;
    }
    .rsvp__wrapper .rsvp__form .-attend .-attend-left {
        padding-left: 1%;
        padding-right: 10px;
    }
}
@media (max-width: 740px) {
    .rsvp__wrapper .rsvp__form .-attend {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
        .-attend-left {
            display: flex;
            flex-direction: column;
        }
        .-attend-right {
            text-align: left;
            display: flex;
            align-items: start;
            justify-content: flex-start;
            padding-left: 52px;
            padding-right: 40px;
        }
    }
}
