.shop__wrapper {
    padding: 120px 180px 0 180px;
}

.shop__cate {
    span {
        font-size: 16px;
    }
    .-level-1,
    .-level-2 {
        position: relative;
        overflow: hidden;
    }
    .-level-1::before,
    .-level-2::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: #000;
        transition: width 0.3s ease;
    }
    .-level-1:hover::before,
    .-level-2:hover::before {
        width: 100%;
    }
}

.shop__content {
    margin-top: 120px;
}

.shop__content-left {
    .shop__nav {
        display: flex;
        justify-content: space-between;
        span {
            color: #262626;
            font-size: 15px;
        }
    }
    .shop__sort {
        select {
            padding: 15px 80px 15px 20px;

            text-align: left;
            font-size: 14px;
            line-height: 24px;
            border: 1px solid #e5dacf;
        }
    }
}
.shop__product {
    margin-top: 40px;
    display: flex;
    width: 100%;
    align-items: center;
}

.shop__product__add {
    opacity: 0;
    margin-top: 0;
    cursor: pointer;
}

.shop__product-item:hover .shop__product__add {
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out;
}
.shop__product-item-wrapper {
    display: inline;
    gap: 20px;
}

.shop__product-item {
    .-img {
        position: relative;
        max-width: 100%;
        height: auto;
        img {
            width: 410px;
            height: 530px;
            object-fit: cover;
        }
    }
    .-effect {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        opacity: 0;
        border: 2px solid #e5dacf;
        transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.35s ease-out;
    }
}

.shop__product-item:hover .shop__product-item-effect {
    position: absolute;
    top: -8px;
    left: -8px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    opacity: 1;
    border: 1px solid #e5dacf;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.35s ease-out;
}

// Right
.shop__content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 40px;
    .shop__search {
        position: relative;
        display: flex;
        align-items: flex-start;
        input {
            height: 60px;
            padding: 0 60px 0 20px;
            max-width: 100%;
            font-size: 15px;
            border: 1px solid var(--color-header-border);
            &:focus-visible {
                outline: none;
            }
        }
        svg {
            position: absolute;
            font-size: 28px;
            top: 50%;
            // left: 50%;
            right: 10px;
            margin: auto 0;
            transform: translate(-50%, -50%);
        }
    }
    .shop__category {
        margin-top: 60px;
        width: 100%;
        text-align: center;
        .shop__category-heading {
            font-family: 'Bona Nova';
            font-size: 27px;
            letter-spacing: 0.54px;
            line-height: 32.9999px;
            margin: 0px 0px 12px;
            text-align: center;
            text-transform: uppercase;
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid #e5dacf;
            padding-bottom: 10px;
        }
        .shop__category-list {
            ul {
                li:first-child {
                    margin-top: 30px;
                }
                li {
                    list-style: none;
                    margin-top: 20px;
                    color: #e57339;
                    display: block;
                    font-family: 'Montserrat';
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 2.1px;
                    line-height: 18px;
                    text-align: center;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:hover {
                        opacity: 70%;
                    }
                }
            }
        }
    }

    .shop__top-product {
        margin-top: 60px;
        text-align: center;
        .shop__top-product-heading {
            font-family: 'Bona Nova';
            font-size: 27px;
            letter-spacing: 0.54px;
            line-height: 32.9999px;
            margin: 0px 0px 12px;
            text-align: center;
            text-transform: uppercase;
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid #e5dacf;
            padding-bottom: 10px;
        }

        .shop__top-product-item {
            margin-top: 40px;
            align-items: center;
            display: flex;
            flex-direction: column;
            .-img {
                width: 150px;
                height: 210px;
                align-items: center;
                display: flex;
                justify-content: center;
                img {
                    width: 155px;
                    height: 215px;
                    object-fit: cover;
                }
            }
            .-heading {
                margin-top: 20px;
                h3 {
                    color: #262626;
                    display: block;
                    font-family: 'Bona Nova';
                    font-size: 21px;
                    letter-spacing: 0.63px;
                    line-height: 27.9999px;
                    text-align: center;
                    text-transform: uppercase;
                }
                h4 {
                    color: #262626;
                    display: inline-block;
                    line-height: 16.2px;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 400;
                }
            }
        }
    }
    .shop__share-heading {
        font-family: 'Bona Nova';
        font-size: 27px;
        letter-spacing: 0.54px;
        line-height: 32.9999px;
        margin: 50px 0px 12px;
        text-align: center;
        text-transform: uppercase;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #e5dacf;
        padding-bottom: 10px;
    }
    .shop__filter {
        width: 100%;
    }
    .shop__filter-heading,
    .shop__tags-heading {
        font-family: 'Bona Nova';
        font-size: 27px;
        letter-spacing: 0.54px;
        line-height: 32.9999px;
        margin: 50px 0px 12px;
        text-align: center;
        text-transform: uppercase;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #e5dacf;
        padding-bottom: 10px;
    }

    .shop__tags {
        ul {
            list-style: none;
            text-align: center;
        }
    }
    .shop__filter-price {
        margin-top: 20px;
        span {
            font-size: 15px;
        }
    }

    .shop__filter-button {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .shop__filter-reset,
    .shop__filter-apply {
        border: 1px solid var(--color-header-border);
        background-color: transparent;
        padding: 10px 35px;
        color: #e5857f;
        font-size: 13px;
    }
}

.shop__slider {
    margin-top: 100px;
    padding-top: 100px;
    margin-bottom: 100px;
    border-top: 1px solid var(--color-header-border);
}

@media (min-width: 768px) and (max-width: 1023px) {
    .shop__wrapper {
        margin-top: 120px;
        padding: 0 60px;
    }
    .shop__content {
        margin-top: 70px;
    }

    .shop__content-right {
        margin-top: 50px;
        .shop__search {
            position: relative;

            input {
                width: 660px;
                height: 60px;
                padding: 0 30px;
                font-size: 15px;
                border: 1px solid var(--color-header-border);
                &:focus-visible {
                    outline: none;
                }
            }
            svg {
                position: absolute;
                font-size: 28px;
                top: 50%;
                // left: 50%;
                right: 10px;
                margin: auto 0;
                transform: translate(-50%, -50%);
            }
        }
    }
    .shop__top-product {
        width: 100%;
    }
    .shop__content-right .shop__category .shop__category-heading {
        font-size: 29px;
        font-weight: 400;
    }
    .shop__content-right .shop__top-product .shop__top-product-heading {
        font-size: 29px;
        font-weight: 400;
    }
    .blog__share .blog__share-heading {
        font-size: 29px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .blog__tags .blog__tags-heading {
        font-size: 29px;
        font-weight: 400;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .shop__content-left .shop__sort select {
        text-align: left;
        max-width: 100%;
        padding: 15px 15px;
        line-height: 24px;
        border: 1px solid #e5dacf;
    }
    .shop__product-item {
        .-img {
            position: relative;
            max-width: 100%;
            height: auto;
            img {
                width: 410px;
                height: 330px;
                object-fit: cover;
            }
        }
        .-effect {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            opacity: 0;
            border: 2px solid #e5dacf;
            transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.35s ease-out;
        }
    }
}
@media (max-width: 767px) {
    .shop__wrapper {
        margin-top: 120px;
        padding: 0 20px;
    }
    .shop__nav {
        flex-direction: column;
    }
    .shop__content-left .shop__sort select {
        width: 100%;
    }
}
