.standard__wrapper {
    margin-top: 120px;
    margin-bottom: 100px;
}

.standard__cate {
    height: 90px;
    span {
        margin-top: 20px;
    }
}

.standard__cate {
    .-level-1,
    .-level-2 {
        position: relative;
        overflow: hidden;
    }
    .-level-1::before,
    .-level-2::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: #000;
        transition: width 0.3s ease;
    }
    .-level-1:hover::before,
    .-level-2:hover::before {
        width: 100%;
    }
}

.standard__gallery {
    .-item {
        margin-top: 20px;
    }
    .-img-wrap {
        width: 100%;
    }
    .-img {
        width: 400px;
        height: 330px;
        margin-top: 20px;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 130%;
            width: 130%;
            height: auto;
            object-fit: cover;
            transform: scale(1.1);
            &:hover {
                transition: transform 0.5s ease-in-out;
                transform: scale(1.1) translateX(5px);
            }
        }
    }
    .-heading {
        margin-top: 10px;
        .-title {
            color: #0d0d0d;
            display: block;
            font-family: 'Bona Nova';
            font-size: 28px;
            letter-spacing: 0.54px;
            line-height: 32.9999px;
        }
        .-sub-title {
            color: #e57339;
            display: inline-flex;
            flex-wrap: wrap;
            font-family: 'Montserrat';
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 2.1px;
            line-height: 12px;
            text-transform: uppercase;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .standard__gallery {
        .row {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .-item {
            margin-top: 20px;
        }
        .-img {
            width: 330px;
            height: 280px;

            img {
                width: 330px;
                height: 280px;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 767px) {
    .standard__gallery {
        padding: 0 30px;
        .-item {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .-img {
            width: 330px;
            height: 260px;

            img {
                width: 330px;
                height: 260px;
                object-fit: cover;
            }
        }
    }
    .standard__gallery .-heading {
        width: 100%;
    }
    .standard__gallery .-heading .-title {
        text-align: left;
    }
}
