.carousel-item img {
    height: 500px;
    width: auto;
    object-fit: cover;
    filter: brightness(0.8);
}

.carousel-caption {
    h3 {
        font-size: 100px;
        margin-bottom: 50px;
    }
    p {
        margin-bottom: 140px;
    }
}

.slider__button {
    position: absolute;
    top: 65%;
    left: 47%;
}
