//CSS general Website
.mt-80 {
    margin-top: 80px;
}
.mb-40 {
    margin-bottom: 40px;
}
.pl-60 {
    padding-left: 60px;
}
.pr-60 {
    padding-right: 60px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-60 {
    padding-top: 60px;
}
.pt-75 {
    padding-top: 75px;
}
.pt-80 {
    padding-top: 80px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pt-120 {
    padding-top: 120px;
}
/* Scroll to top */
.scroll__top {
    max-width: 90px;
    position: fixed;
    bottom: 50px;
    right: 0px;
    right: 100px;
    z-index: 15;
    .-img {
        width: 90px;
        height: auto;
    }
}

.scroll__top:hover {
    max-width: 90px;
    position: fixed;
    bottom: 50px;
    right: 0px;
    right: 100px;
    z-index: 15;
    transform: translateY(-5px);
}
.section_logo-icon {
    width: 384px;
    height: 202px;
    display: flex;
    justify-content: center;
    img {
        object-fit: cover;
    }
}

.section__title {
    font-family: 'Bona Nova';
    font-size: 50px;
    letter-spacing: 0.25px;
    line-height: 54px;
    text-transform: uppercase;
    margin-top: 18px;
}
.section__sub__title {
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.8px;
    line-height: 28px;
    color: var(--tp-heading-primary);
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section__des {
    padding: 0 200px;
    color: var(--tp-heading-sub2);
    font-family: 'Arimo';
    line-height: 30px;
    margin: 25px 0px 0px;
    font-size: 18px;
}

.section__title-2 {
    color: var(--tp-head);
    font-family: 'Bona Nova';
    font-size: 27px;
    letter-spacing: 0.54px;
    line-height: 32.9999px;
    text-align: right;
    text-transform: uppercase;
}
.section__sub-title-2 {
}

.section__desc-2 {
    background-position: 0px 0px;
    color: var(--tp-heading-sub1);
    font-family: 'Arimo';
    line-height: 28px;
    text-align: right;
    font-size: 18px;
}
.story__heading-man {
    text-align: end;
}
.story__heading-girl {
    text-align: start;
}

.section__image {
    position: relative;
}

.section__image-point {
    width: 100%;
    height: auto;
    img {
        width: 100%;
        height: 700px;
    }
}

.section__title-3 {
    position: absolute;
    font-family: 'bona nova';
    top: 30%;
    left: 25%;
    font-size: 100px;
    letter-spacing: 3px;
    line-height: 65px;
    margin: 10px 0px;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    font-size: 100px;
    line-height: 100px;
    color: var(--color-white);
    left: 0px;
    right: 0px;
    margin: 0px auto;
    // font-style: italic;
    font-family: 'Bona Nova';
}

.section__sub-title-3 {
    position: absolute;
    font-family: 'montserrat';
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 3px;
    margin: 10px 0px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
    top: 50%;
    left: 25%;
    left: 0px;
    right: 0px;
    margin: 0px auto;
}

.section__title-4 {
    font-family: 'Bona Nova';
    font-size: 21px;
    letter-spacing: 0.63px;
    line-height: 27.9999px;
    padding: 0px 52.5px;
    text-align: center;
    text-transform: uppercase;
}
.section__sub-title-4 {
    color: var(--tp-heading-primary);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2.1px;
    line-height: 20px;
    margin: 2px 0px 0px;
    text-align: center;
    text-transform: uppercase;
}
.section__des-4 {
    color: #262626;
    font-family: 'Arimo';
    line-height: 28px;
    padding: 0px 15px;
    text-align: center;
    font-size: 16px;
}

.section__button {
    padding: 12px 40px;
    background: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}
// .section__image-button {
//     position: absolute;
//     top: 400px;
//     left: 45%;
//     margin: 0 auto;
// }

.logo__image {
    width: 200px;
    height: 90px;
}

@media (min-width: 1024px) {
}

@media (min-width: 740px) and (max-width: 1023px) {
    .section__des {
        padding: 0 10px;
        color: var(--tp-heading-sub2);
        font-family: 'Arimo';
        line-height: 30px;
        margin: 25px 0px 0px;
        font-size: 16px;
    }
    .story__heading-man {
        text-align: center;
    }
    .story__heading-girl {
        text-align: center;
    }
    .social__icon {
        margin-bottom: 50px;
        margin-top: 25px;
    }

    .section__title-3 {
        position: absolute;
        top: 20%;
        left: 10%;
        font-size: 77px;
        line-height: 100px;
        font-style: italic;
    }

    .section__sub-title-3 {
        position: absolute;
        display: inline;
        top: 45%;
        left: 10%;
        font-size: 18px;
        font-weight: 400;
    }
    // .section__image-button {
    //     top: 60%;
    //     left: 40%;
    // }
}

@media (max-width: 740px) {
    .section__des {
        padding: 0 10px;
        color: var(--tp-heading-sub2);
        font-family: 'Arimo';
        line-height: 30px;
        margin: 25px 0px 0px;
        font-size: 16px;
    }

    .section__title-2 {
        text-align: center;
        font-size: 27px;
    }
    .section__sub-title-2 {
    }

    .section__desc-2 {
        text-align: center;
        font-size: 18px;
        padding: 0 10px;
    }
    .social__icon {
        margin-bottom: 50px;
        margin-top: 25px;
    }
    .section__image-point {
        max-width: 100%;
        height: 700px;
        img {
            height: 700px;
            width: auto;
            object-fit: cover;
        }
    }

    .section__title-3 {
        position: absolute;
        top: 25%;
        left: 0%;
        font-family: 'bona nova';
        font-size: 60px;
        letter-spacing: 3px;
        line-height: 70px;
        margin: 10px 0px;
    }

    .section__sub-title-3 {
        position: absolute;
        top: 56%;
        left: 2%;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 28px;
        margin: 10px 0px;
    }
    // .section__image-button {
    //     position: absolute;
    //     top: 460px;
    //     left: 130px;
    // }
}
