//CSS general Website
.mt-80 {
    margin-top: 80px;
}
.pl-60 {
    padding-left: 60px;
}
.pr-60 {
    padding-right: 60px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-60 {
    padding-top: 60px;
}
.pt-75 {
    padding-top: 75px;
}
.pt-80 {
    padding-top: 80px;
}
.section_logo-icon {
    width: 300px;
    height: 160px;
}

.section__title {
    font-family: 'Bona Nova';
    font-size: 50px;
    letter-spacing: 0.25px;
    line-height: 54px;
    text-transform: uppercase;
    margin-top: 18px;
}
.section__sub__title {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.8px;
    line-height: 28px;
    color: var(--tp-heading-primary);
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section__des {
    padding: 0 100px;
    color: var(--tp-heading-sub2);
    font-family: 'Arimo';
    line-height: 30px;
    margin: 25px 0px 0px;
    font-size: 18px;
}

.section__title-2 {
    color: var(--tp-head);
    font-family: 'Bona Nova';
    font-size: 27px;
    letter-spacing: 0.54px;
    line-height: 32.9999px;
    text-align: right;
    text-transform: uppercase;
}
.section__sub-title-2 {
}

.section__desc-2 {
    background-position: 0px 0px;
    color: var(--tp-heading-sub1);
    font-family: 'Arimo';
    line-height: 28px;
    text-align: right;
    font-size: 18px;
}
.story__heading-man {
    text-align: end;
}
.story__heading-girl {
    text-align: start;
}

.section__image {
    position: relative;
}

.section__image-point {
    width: 100%;
    height: auto;
    img {
        width: 100%;
        height: 700px;
    }
}

.section__title-3 {
    position: absolute;
    top: 20%;
    left: 30%;
    font-family: 'bona nova';
    font-size: 105px;
    letter-spacing: 3px;
    line-height: 65px;
    margin: 10px 0px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
}

.section__sub-title-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    font-family: 'montserrat';
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 28px;
    margin: 10px 0px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
}

.section__title-4 {
    font-family: 'Bona Nova';
    font-size: 21px;
    letter-spacing: 0.63px;
    line-height: 27.9999px;
    padding: 0px 52.5px;
    text-align: center;
    text-transform: uppercase;
}
.section__sub-title-4 {
    color: var(--tp-heading-primary);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2.1px;
    line-height: 20px;
    margin: 2px 0px 0px;
    text-align: center;
    text-transform: uppercase;
}
.section__des-4 {
    color: #262626;
    font-family: 'Arimo';
    line-height: 28px;
    padding: 0px 15px;
    text-align: center;
    font-size: 16px;
}

.section__button {
    padding: 12px 40px;
    background: transparent;
    border: 1px solid #bfc3b8;
    color: var(--color-white);
    animation: glowingBorder 2s infinite;
    &:hover {
        border: 1px solid var(--tp-common-green);
        background-color: var(--tp-common-violet-2);
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
}
.section__image-button {
    position: absolute;
    top: 50%;
    left: 47%;
}

.logo__image {
    width: 200px;
    height: 90px;
}

@media (min-width: 1024px) {
}

@media (min-width: 740px) and (max-width: 1023px) {
    .section__des {
        padding: 0 10px;
        color: var(--tp-heading-sub2);
        font-family: 'Arimo';
        line-height: 30px;
        margin: 25px 0px 0px;
        font-size: 16px;
    }
    .story__heading-man {
        text-align: center;
    }
    .story__heading-girl {
        text-align: center;
    }
    .social__icon {
        margin-bottom: 50px;
        margin-top: 25px;
    }

    .section__title-3 {
        position: absolute;
        top: 30%;
        left: 10%;
        font-size: 77px;
    }

    .section__sub-title-3 {
        position: absolute;
        display: inline;
        top: 45%;
        left: 10%;
        font-size: 18px;
        font-weight: 400;
    }
    .section__image-button {
        top: 60%;
        left: 40%;
    }
}

@media (max-width: 740px) {
    .section__des {
        padding: 0 10px;
        color: var(--tp-heading-sub2);
        font-family: 'Arimo';
        line-height: 30px;
        margin: 25px 0px 0px;
        font-size: 16px;
    }

    .section__title-2 {
        text-align: center;
        font-size: 27px;
    }
    .section__sub-title-2 {
    }

    .section__desc-2 {
        text-align: center;
        font-size: 18px;
        padding: 0 10px;
    }
    .social__icon {
        margin-bottom: 50px;
        margin-top: 25px;
    }
    .section__image-point {
        max-width: 370px;
        height: 700px;
        img {
            height: 700px;
            width: auto;
            object-fit: cover;
        }
    }

    .section__title-3 {
        position: absolute;
        top: 18%;
        left: 10%;
        font-family: 'bona nova';
        font-size: 65px;
        letter-spacing: 3px;
        line-height: 80px;
        margin: 10px 0px;
    }

    .section__sub-title-3 {
        position: absolute;
        top: 68%;
        left: 2%;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 28px;
        margin: 10px 0px;
    }
    .section__image-button {
        position: absolute;
        top: 79%;
        left: 30%;
    }
}
