.header__transparent {
    position: fixed !important;
    left: 0;
    margin: auto;
    top: 0;
    width: 100%;
    z-index: 99;
    background: transparent;
}
.header-sticky {
    background-color: #fff;
    animation: fadeInDown 0.3s ease-in-out 0s 1 normal none running;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    left: 0;
    margin: auto;
    top: 0;
    width: 100%;
}

.header__main {
    .header__main__content {
        position: relative;
    }
    height: 90px;
    // background: var(--tp-common-purple);
    border-bottom: 1px solid var(--color-header-border);
    &__left {
        div {
            input[type='text'] {
                cursor: pointer;
                margin-left: 10px;
                font-size: 13px;
                border: none;
                border-bottom: 1px solid transparent;
                transition: border-color 0.3s ease-in-out;

                &:focus-visible {
                    outline: none;
                    border: none;
                }
                &:focus {
                    border-bottom: 1px solid var(--color-black);
                }
            }
        }
    }
    &__content {
        ul {
            margin: 0;
            li {
                list-style: none;
                padding: 0px 30px;
                a {
                    text-decoration: none;
                    color: var(--color-header-black);
                    font-weight: 500;
                    font-family: Montserrat, sans-serif;
                    font-size: 13px;
                    line-height: 18px;
                    text-transform: uppercase;
                }
            }
        }
    }

    &__logo {
        a {
            img {
                width: 77px;
                height: 34px;
            }
        }
    }

    .submenu {
        display: none;
        position: absolute;
        margin-top: 32px;
        background: var(--color-white);
        border: 1px solid var(--color-header-border);

        li:first-child {
            margin-top: 20px;
        }
        li:last-child {
            margin-bottom: 30px;
        }
        li {
            padding-top: 15px;
            padding-right: 100px;

            font-weight: 500;
            color: var(--color-black);

            transition: border-color 3s, left 0.3s;
            position: relative;
            left: 0%;
            a {
                text-transform: capitalize;
                font-size: 15px;
                &:hover {
                    border-bottom: 1px solid var(--color-black);
                    left: 100%;
                }
            }
        }
    }
    .submenu::before {
        content: '';
        border: 35px solid;
        border-color: transparent;
        position: absolute;
        top: -40px;
        left: -6px;
    }

    li:hover .submenu {
        display: block;
        animation: fadeIn 0.2s ease-in-out;
    }

    .submenu {
        li {
            padding-right: 40px;

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    margin-right: 50px;
                    padding-top: 3px;
                    border-bottom: 1px solid transparent;
                    text-transform: capitalize;
                }
                i {
                    font-size: 10px;
                }
            }
        }

        li:hover .sub-detail {
            display: block;
            animation: fadeIn 0.2s ease-in-out;
        }
        .sub-detail {
            display: none;
            position: absolute;
            top: -21px;
            left: 211px;
            background: var(--color-white);
            border: 1px solid var(--color-header-border);

            li:first-child {
                margin-top: 20px;
            }
            li:last-child {
                margin-bottom: 30px;
            }
            li {
                padding-top: 15px;
                padding-right: 50px;
                font-size: 15px;
                font-weight: 500;
                color: var(--color-black);
                transition: border-color 3s, left 0.3s;
                position: relative;
                left: 0%;
                display: inline-block;
                white-space: nowrap;
                a {
                    font-size: 15px;
                    display: inline-block;
                    margin-right: 20px;
                    text-transform: capitalize;
                    border: 1px solid transparent;
                    &:hover {
                        border-bottom: 1px solid var(--color-black);
                        left: 100%;
                    }
                }
            }
        }
    }

    .header__main__logo img {
        height: 50px;
        width: auto;
        object-fit: cover;
        margin: 0 40px;
    }
    .header__main__sidebar {
        .header__main__toggle {
            i {
                font-size: 10px;
                margin: 0 4px;
            }
        }
        .diamond-container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        .diamond-container i {
            transition: transform 0.3s ease;
        }

        .diamond-container:hover i:first-child {
            transform: translateX(+150%);
        }

        .diamond-container:hover i:last-child {
            transform: translateX(-150%);
        }
    }
    .header__logo-mobile {
        display: none;
    }
    .header__toggle-mobile {
        display: none;
    }
}
//Laptop and Des
@media (min-width: 1024px) {
}
//Tablet
@media (min-width: 740px) and (max-width: 1023px) {
    .header__toggle-mobile {
        display: block;
    }
    .container-fluid {
        padding: 0 !important;
    }

    .header__main__left {
        div {
            i,
            input {
                display: none;
            }
        }
    }
    .header__main {
        width: 100%;
        position: relative;
        .header__logo-mobile {
            position: absolute;
            z-index: 2;
            left: 70px;
            display: flex;
            align-items: center;
            width: 120px;
            height: 100%;
            img {
            }
        }
    }

    .header__main__logo {
        display: none;
    }
    .header__main__content {
        display: none !important;
    }
    .header__main__sidebar {
        display: none !important;
    }
    .show-mobile {
        position: absolute;
        left: 0px;
        top: 140px;
        height: 190px;
        width: 100%;
        background-color: var(--color-white);
        display: flex !important;
        // flex-direction: column;
        ul {
            display: flex;
            flex-direction: column;
            text-align: left;
            width: 100%;
            margin: 0;
            li {
                margin: 10px 0;
                a {
                    font-size: 20px;
                    text-transform: capitalize;
                }
                ul {
                    position: relative;
                }
            }
        }
    }
    .header__main .submenu {
        margin-top: 8px;
    }
    .header__main .submenu .sub-detail {
        left: 125px;
        width: 84%;
    }

    .header__main {
        .header__toggle-mobile {
            display: block;
            position: absolute;
            right: 70px;
            top: 30px;
            z-index: 3;
            i {
                font-size: 16px;
                margin-left: 4px;
            }
        }
    }
}
//Mobile
@media (max-width: 740px) {
    .container-fluid {
        padding: 0 !important;
    }
    .header__wrapper {
        padding: 0 !important;
    }

    .header__main__left {
        div {
            i,
            input {
                display: none;
            }
        }
    }
    .header__main {
        width: 100%;
        position: relative;
        .header__logo-mobile {
            position: absolute;
            z-index: 2;
            left: 20px;
            display: flex;
            align-items: center;
            width: 90px;
            height: 100%;
            img {
                width: 90px;
                height: auto;
                object-fit: cover;
            }
        }
    }

    .header__main__logo {
        display: none;
    }
    .header__main__content {
        display: none !important;
    }
    .header__main__sidebar {
        display: none !important;
    }
    .show-mobile {
        position: absolute;
        left: 0px;
        top: 140px;
        height: 190px;
        width: 100%;
        background-color: var(--color-white);
        display: flex !important;
        // flex-direction: column;
        ul {
            display: flex;
            flex-direction: column;
            text-align: left;
            width: 80%;
            margin: 0;
            li {
                margin: 10px 0;
                a {
                    font-size: 16px;
                    text-transform: capitalize;
                }
                ul {
                    position: relative;
                }
            }
        }
    }
    .header__main .submenu {
        margin-top: 8px;
    }
    .header__main .submenu .sub-detail {
        left: 125px;
        width: 84%;
    }
    .header__main {
        .header__toggle-mobile {
            display: flex;
            position: absolute;
            right: 20px;
            top: 30px;
            z-index: 3;
            i {
                font-size: 12px;
                margin-left: 4px;
            }
        }
    }
}
