.slide-show-wrapper {
    z-index: 100;
}
.slide-show-img {
    width: 100%;
    height: 570px;
    img {
        object-fit: cover;
    }
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff !important;
}

.slide-show-wrapper {
    position: relative;
    .slide-show-title {
        color: #fff;
        position: absolute;
        bottom: 0px;
        right: 0;
        z-index: 10;
        h4 {
            font-size: 16px;
        }
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .slide-show-wrapper {
        .slide-show-title {
            h4 {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 740px) {
    .slide-show-img {
        width: 100%;
        height: 200px;
        img {
            object-fit: cover;
        }
    }
    .service__infinite {
        .section__sub__title {
            margin-bottom: 20px !important;
        }
    }
    .slide-show-wrapper {
        .slide-show-title {
            width: 100%;
            text-align: center;
            h4 {
                color: #fff;
                font-size: 10px;
            }
        }
    }
    .swiper-pagination {
        display: none;
    }
}
