.swiper__img {
    width: 270px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 200px;
        height: 210px;
        object-fit: cover;
        transition: filter 0.5s ease;
    }
    &:hover img {
        filter: brightness(80%);
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .swiper__img {
        width: 100%;
        height: auto;
        justify-content: center;
    }
}

@media (max-width: 740px) {
    .swiper__img {
        width: 100%;
        height: auto;
        justify-content: center;
        img {
            width: 280px;
            height: 280px;
        }
    }
}
